*.class
*.exe
**/*.class
**/*.dep
**/.DS_Store
**/*.exe
**/*.idb
**/*.ilk
**/*.manifest
**/*.ncb
**/node_modules
**/*.o
**/*.object
**/*.obj
**/*.pdb
**/*.user
**/BuildLog.htm
**/Debug
**/bin
**/debug
**/**/Debug
**/package-lock.json
**/Release
